@import "css/bootstrap-start";

@mixin link-nav($color, $color-hover) {
  color:$color;
  text-decoration: none;
  @include hover-focus-active {
    color:$color-hover;
    @content;
  }
}

@mixin link-content($color, $color-hover) {
  color:$color;
  @include hover-focus-active {
    color:$color-hover;
    @content;
  }
}

@mixin link-underlined-hover-only($color, $color-hover) {
  color:$color;
  text-decoration: none;
  @include hover-focus-active {
    color:$color-hover;
    text-decoration: underline;
    @content;
  }
}

@mixin link-underlined($color, $color-hover) {
  color:$color;
  text-decoration: underline;
  @include hover-focus-active {
    color:$color-hover;
    text-decoration: none;
    @content;
  }
}


html {
  background: $primary;
  font-size: 18em/16;
  @include media-breakpoint-down(sm) {
    font-size: 16em/16;
  }
  line-height: $line-height-base;
}
body {
  background: $white;
}

.header-wrap {
  background: $gray-500;
  color: $white;
  padding:$rem-vert-margin 0;
  margin-bottom: $rem-vert-margin;
  h1 {
    color:inherit;
    background-color: inherit;
    &:before {
      display: block;
      content:'';
      width: 220px;
      height: 55px;
      background: url(img/logo-cwpb.svg) no-repeat top left;
      background-size: contain;
      margin-bottom: 0.5 * $rem-vert-margin;
    }
    margin-bottom: 0;
  }
  a {
    @include link-underlined($white, $gray-200);
  }
  .accueil a {
    @include link-underlined-hover-only($white, $gray-200){
      background: transparent;
    }
  }

  #nav {
    @include media-breakpoint-down(xs) {
      display: none;
    }
    margin-top: $rem-vert-margin;
    margin-bottom: -1 * $rem-vert-margin;
    background: $secondary;
    .navbar-collapse {
      margin-left: -1rem;
    }
    a {
      @include link-nav($gray-200, $white) {
        text-decoration: none;
        background-color: $primary;
      }
    }
  }
}

.footer-wrap {
  font-size: 14rem/18;
  background: $primary;
  color: $white;
  padding:2 * $rem-vert-margin 0;
  margin-top: 2 * $rem-vert-margin;
  a {
    @include link-underlined(inherit, $secondary);
  }
  .footer {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

.nav-breadcrumb {
  display: none;
}

.page {
  position: relative;
}
#content {
  position: static;
  min-height: 40rem;
  h1 {
    small {
      display: block;
      line-height: $line-height-base;
    }
  }
  .hr {
    margin : $rem-vert-margin 0;
    hr {
      margin: 0;
      visibility: hidden;
    }
    &:after {
      content:'';
      display: block;
      position: absolute;
      left: 0;
      width: 100vw;
      height: 1px;
      background: $hr-border-color;
      color:$hr-border-color;
    }
  }
}

.page_payer-don,
.page_payer-adhesion,
.page_payer-facture {
  .content {
    .well-payment {
      background: $gray-200;
      padding: $grid-gutter-width;
      .payer_modes {
        .payer_stripe .titre {
          display: none;
        }
        .boutons {
          text-align: right;
        }
        .btn {
          @include button-variant(theme-color("primary"), theme-color("primary"));
        }
      }
    }
  }
}

.page_payer-don,
.page_payer-adhesion {
  .well-payment {
    h3.selectionnez {
      display: none;
    }
  }
}
